

<br>
<br>
<br>
<div class="btn-group btn-group-justified" role="group">
<a class="btn btn-primary btn-lg" role="button" href="/stores">Stores</a>
</div>
<div class="btn-group btn-group-justified" role="group">
<a class="btn btn-primary btn-lg" role="button" href="/brands">Brands</a>
</div>
